<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.green.mapper.CompanyMapper">
	<select id="getProposal">
		SELECT pro_idx, id, post_idx, resume_idx, status, TO_CHAR(created_at, 'YY-MM-DD') created_at FROM PERSON_PROPOSAL_TB
	</select>
	
	<!-- 기업 상세 정보 가져오기 -->
	<select  id = "getCompany" resultType = "com.green.domain.CompanyVo">
		
		SELECT	ID,
				CNUMBER,
				CNAME,
				COM_LOGO,
				CREPRESENTIVE,
				ADDRESS,
				MANAGER_NAME,
				COMPANY_MANAGERPHONE,
				CSIZE,
				TO_CHAR( CYEAR, 'YY-MM-DD')	CYEAR
		FROM	COMPANY_INFO_TB
		WHERE	ID = '#{id}'
	
	</select>

	<!-- 기업 회원 중 특정 아이디의 컴퍼니 info를 가져옴 -->
	<select id="getCompanyById">
		SELECT	ID, CNUMBER, CNAME, COM_LOGO, CREPRESENTIVE, ADDRESS, MANAGER_NAME, COMPANY_MANAGERPHONE, CSIZE, CYEAR
			FROM	COMPANY_INFO_TB
			WHERE	ID = #{id}
	</select>

	<!-- logo default값 넣을 예정 -->
<insert id="insert">
INSERT ALL
	INTO user_tb (id, password, type,user_email, created_date)
	VALUES(#{id},#{password},1,#{user_email},#{created_date})

	INTO company_info_tb (id,cnumber, cname, com_logo,crepresentive, address,
	                      manager_name,company_managerphone,csize,cyear)
	VALUES(#{id}, #{cnumber}, #{cname}, 'logo' , #{crepresentive}, #{address},
	       #{manager_name}, #{company_managerphone},#{csize}, #{cyear})
SELECT * FROM DUAL
</insert> 

<select id="login">
 SELECT id,password,type
 FROM   user_tb
 WHERE  id=#{arg0} AND password=#{arg1} AND type=1
</select>


<!-- jobpost에 있던거 -->
<select id="getUser">
		SELECT ID, PASSWORD, TYPE, USER_EMAIL, TO_CHAR(CREATED_DATE,
		'YYYY-MM-DD') CREATED_DATE FROM USER_TB WHERE ID = #{id}
	</select>
	
	<select id="getpostList">
		SELECT POST_IDX, ID, POST_NAME, CAREER, JOB_TYPE, PAY, GO_WORK, GO_HOME,
		DEADLINE, JOB_INTRO, C_INTRO, CREATED_DATE
		FROM JOB_POST_TB
		WHERE ID = #{id}
	</select>
	
	<select id="getSkillList">
		SELECT SKILL_IDX, SKILL_NAME
		FROM SKILL_TB
	</select>
	
	<!-- 전체 공고 가져오기 -->
	<select id="getmainpostList">
		SELECT POST_IDX, ID, POST_NAME, CAREER, JOB_TYPE, PAY, GO_WORK, GO_HOME,
		DEADLINE, JOB_INTRO, C_INTRO, CREATED_DATE
		FROM JOB_POST_TB
		ORDER BY POST_IDX
	</select>
	
	<!-- 공고 이름 가져오기 -->
	<select id="getpostName">
		SELECT POST_IDX, ID, POST_NAME, CAREER, JOB_TYPE, PAY, GO_WORK, GO_HOME,
		TO_CHAR(DEADLINE, 'YY-MM-DD') DEADLINE, JOB_INTRO, C_INTRO, CREATED_DATE
		FROM JOB_POST_TB
		WHERE POST_IDX = #{post_idx}
	</select>
	
	<!-- 특정 공고의 내용 가져오기 -->
	<select id="getViewPost">
		SELECT POST_IDX, ID, POST_NAME, CAREER, JOB_TYPE, PAY, GO_WORK, GO_HOME,
		DEADLINE, JOB_INTRO, C_INTRO, CREATED_DATE
		FROM JOB_POST_TB
		WHERE POST_IDX = #{post_idx}
	</select>
	
	<!-- 공고에 필요한 스킬들 idx 가져오기 -->
	<select id="getPostSkill">
		SELECT CSNO, POST_IDX, SKILL_IDX FROM POST_SKILL_TB WHERE POST_IDX = #{post_idx}
	</select>
	
	<!-- 필요한 스킬 이름들 가져오기 -->
	<select id="getSkillName">
		SELECT SKILL_NAME FROM SKILL_TB WHERE SKILL_IDX = #{skill_idx}
	</select>
	
	<insert id="insertpost" parameterType="com.green.domain.JobpostVo">
		INSERT INTO JOB_POST_TB
		(POST_IDX, ID, POST_NAME, CAREER, JOB_TYPE, PAY, GO_WORK, GO_HOME,
		DEADLINE, JOB_INTRO, C_INTRO)
		VALUES
		((SELECT NVL(MAX(POST_IDX),0) + 1 FROM JOB_POST_TB), #{id}, #{post_name}, #{career}, #{job_type}, #{pay},
		#{go_work}, #{go_home}, #{deadline}, #{job_intro}, #{c_intro})

	</insert>
	
</mapper>